// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023, Linaro Limited
 */

/*
 * Remove:
 * - SCPI power management nodes
 * - Remove DSP & LPASS nodes until DSP can be enabled without TZ
 * Disable:
 * - LPASS & Audio nodes, could be re-enabled with lpass-cpu implementation
 * TODO:
 * - add poweroff node
 * - fix cDSP & aDSP to boot without SCM
 */

/ {
	cpus {
		/delete-node/ idle-states;
		/delete-node/ domain-idle-states;
	};

	/delete-node/ firmware;
	/delete-node/ reserved-memory;

	reserved-memory {
		ranges;

		#address-cells = <2>;
		#size-cells = <2>;

		hyp_tags_mem: hyp-tags@80e00000 {
			no-map;
			reg = <0x0 0x80e00000 0x0 0x3d0000>;
		};

		aop_mem: aop@81c00000 {
			no-map;
			reg = <0x0 0x81c00000 0x0 0x60000>;
		};

		aop_cmd_db_mem: aop-cmd-db@81c60000 {
			compatible = "qcom,cmd-db";
			reg = <0x0 0x81c60000 0x0 0x20000>;
			no-map;
		};

		/* merged aop_config, tme_crash_dump, tme_log */
		aop_config_merged_mem: aop-config-merged-region@81c80000 {
			reg = <0x0 0x81c80000 0x0 0x64000>;
			no-map;
		};

		smem: smem@81d00000 {
			compatible = "qcom,smem";
			reg = <0x0 0x81d00000 0x0 0x200000>;
			hwlocks = <&tcsr_mutex 3>;
			no-map;
		};

		cpucp_fw_mem: cpucp-fw@d8140000 {
			reg = <0x0 0xd8140000 0x0 0x1c0000>;
			no-map;
		};

		tz_tags_mem: tz-tags@e1200000 {
			no-map;
			reg = <0x0 0xe1200000 0x0 0x9b0000>;
		};
	};

	psci {
		/delete-node/ power-domain-cpu0;
		/delete-node/ power-domain-cpu1;
		/delete-node/ power-domain-cpu2;
		/delete-node/ power-domain-cpu3;
		/delete-node/ power-domain-cpu4;
		/delete-node/ power-domain-cpu5;
		/delete-node/ power-domain-cpu6;
		/delete-node/ power-domain-cpu7;
		/delete-node/ power-domain-cluster;
	};

	/delete-node/ smp2p-adsp;
	/delete-node/ smp2p-cdsp;
	/delete-node/ smp2p-modem;

	soc@0 {
		/delete-node/ timer@17420000;

		restart@c264000 {
			compatible = "qcom,pshold";
			reg = <0 0x0c264000 0 0x4>;
		};
	};
};

&apps_rsc {
	/delete-property/ power-domains;
};

&CPU0 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

&CPU1 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

&CPU2 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

&CPU3 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

&CPU4 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

&CPU5 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

&CPU6 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

&CPU7 {
	/delete-property/ power-domains;
	/delete-property/ power-domain-names;
};

/delete-node/ &ipa;

&lpass_wsa2macro {
	/delete-property/ clocks;
	status = "disabled";
};

&lpass_rxmacro {
	/delete-property/ clocks;
	status = "disabled";
};

&lpass_txmacro {
	/delete-property/ clocks;
	status = "disabled";
};

&lpass_wsamacro {
	/delete-property/ clocks;
	status = "disabled";
};

&lpass_vamacro {
	/delete-property/ clocks;
	status = "disabled";
};

&lpass_tlmm {
	/delete-property/ clocks;
	status = "disabled";
};

&swr0 {
	status = "disabled";
};

&swr1 {
	status = "disabled";
};

&swr2 {
	status = "disabled";
};

/delete-node/ &remoteproc_adsp;
/delete-node/ &remoteproc_cdsp;
/delete-node/ &remoteproc_mpss;

&gpu {
	/delete-node/ zap-shader;
};

/* Disable GPI DMA until we can load the GPI firmware */

&gpi_dma1 {
	status = "disabled";
};

&i2c0 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi0 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c1 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi1 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c2 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi2 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c3 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi3 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c4 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi4 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c5 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi5 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c6 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi6 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c7 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi7 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&gpi_dma2 {
	status = "disabled";
};

&i2c8 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi8 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c9 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi9 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c10 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi10 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c11 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi11 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c12 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi12 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&i2c13 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&spi13 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
};
